<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <add key="Log4NetConfigFilePath" value=""/>
    <add key="connstring" value=""/>
    <add key="Repository" value="Stocks.DataAccess.SqlRepository, Stocks.DataAccess, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
  <log4net>
    <root>
      <appender-ref ref="FileAppender"/>
      <level value="DEBUG"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Users\iLink\Documents\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value=" -yyyy-MM-dd.'log'"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p | %d{yyyy-MM-dd HH:mm:ss, fff} | %t| %m%n"/>
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
